/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,400,300,700|Raleway:400,100,300,700,500');
$base-font: "Lato", "Helvetica", "sans-serif";
$header-font: "Lato", "Helvetica", "sans-serif";

// Font-size and line-height
$base-size: 18px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme

$primary-dark: darken(#A054B7,10%);
$primary: #A054B7;
$primary-light: lighten(#A054B7, 10%);
$yellow: #EEE82C;
$secondary: #FFE1C6;
$green: #23F0C7;
$red: #F03A47;

$verydark: #272727;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 60%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
$gray-lightest: lighten(#000, 98%); // #eee
