 <section id="cd-timeline" class="cd-container">

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag("search.png") %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>EXPLORE LES MISSIONS</h2>
      <p>Connecte-toi sur la plate-forme et explore les missions suivant tes compétences et les causes qui t'inspirent. Chaque mission s'accompagne d'une feuille de route pour te donner un maximum de contexte et de compréhension des objectifs.</p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag "play.png", :class => "playlogo" %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>LANCE-TOI!</h2>
      <p>Lorsque tu as trouvé la mission qui te plaît, postule et partage brièvement tes motivations. Ta candidature est alors envoyée à l'association. Si ton profil lui convient, elle te contacte et la mission peut démarrer!  </p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag("shapes.png") %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>AGIS</h2>
      <p>Accomplis ta mission, en collaboration avec l'association.
        Maximise ton effet de levier: déploie le meilleur de tes compétences pour soutenir l'association pour qu'elle soutienne les causes qui t'inspirent!</p>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <%= image_tag("people.png") %>
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>RENCONTRE</h2>
        <p>Vis une expérience humaine avec l'équipe de l'association. Avec ta mission, participe à l'aventure Fovento: une communauté de citoyens engagés et orientés vers l'action.</p>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

  </section> <!-- cd-timeline -->
