 <section id="cd-timeline" class="cd-container">

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag("scene.png") %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>1. SET THE SCENE</h2>
      <p>Choose your public speaking setting: sales pitch, corporate meeting, conference, investors pitch, family events...For business customers, we can 360° shoot actual meeting rooms and colleagues, for maximum immersion </p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag "rehearse.png", :class => "playlogo" %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>2. REHEARSE, REHEARSE</h2>
      <p>With the Virtual Reality headset on, present to your virtual audience as if you were facing a real crowd. This breathtaking experience will train you as the real event, and boost your confidence for your actual presentation  </p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag("feedback.png") %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>3. GET FEEDBACK</h2>
      <p>Leverage built-in coaching tools to improve your presentation: timer, "uuuh"-counter, look direction analyser, and other features to come! </p>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

  </section> <!-- cd-timeline -->
