 <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class = "footerbox">
          <p>
            *pricing subject to change as product evolves
          </p>
          <p>

          </p>
          <p>
            2016 VRConfident BE, All rights reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
