 <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class = "footerbox">
          <p>
            <%= link_to "Pour les associations", root_path %>
          </p>
          <p>
            2016 Fovento ASBL
            &nbsp;
            <%= link_to root_path, class: 'nodeco' do %>
            <span><i class="fa fa-envelope" style="font-size: 15px;"> </i></span>
            <% end %>
            &nbsp;
            <%= link_to "http://www.facebook.com/fovento", class: 'nodeco' do %>
            <span><i class="fa fa-facebook" style="font-size: 15px;"> </i></span>
            <% end %>
          </p>
          <p>
            <%= link_to "Conditions d'utilisation", root_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
