 <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class = "footerbox">
          <p>
            *subject to change as product evolves
          </p>

          <p>
            2016 VRConfident, a concept propelled by <%= link_to "Thomas Vanderstraeten", "http://be.linkedin.com/in/thomas-vanderstraeten-5710a148" %> in Brussels, BE
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
