.avatar-home {
  width: 95px;
  border-radius: 50%;
  // border: white 2px solid;
  filter: grayscale(100%);
  margin-bottom: 8px;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.avatar-nonprofit-home {
  width: 150px;
  // filter: grayscale(100%);
  margin-bottom: 8px;
}
.avatar-card {
  width: 55px;
  border-radius: 50%;
  border: white 2px solid;
  filter: grayscale(100%);
}
.avatar-roadbook {
  width: 80px;
  border-radius: 50%;
  border: white 2px solid;
  margin-top: -10px;
}
.avatar-candidacy {
  width: 100px;
  border-radius: 50%;
  border: white 2px solid;
}
