.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: -70px;
  position: relative;
  // USED FOR SCROLL TO BOTTOM
  .scrollanchor {
  position: absolute;
  bottom: 70px; //HEIGHT OF THE NAVBAR
  }
}

.banner-top {
  flex: 0 0 25%;
}

.banner-title {
  flex: 0 0 30%;
  width: 80%;

  h1 {
    font-weight: 700;
  }
  p {
    font-size: 23px;
    padding-left: 52px;
    font-style: italic;
    margin-top: -35px;
    font-weight: bold;
  }
}

.banner-description {
  flex: 1 0 auto;
  width: 45%;

  p {
    font-weight: lighter;
    // font-size: 21px;
  }
}

.banner-bottom {
  flex: 0 0 10%;
  .angle-down{
    font-size: 45px;
    transition: 0.5s ease;
    cursor: pointer;
    &:hover {
      font-size: 60px;
      transition: 0.5s ease;
    }
  }
}


