/*
 * Developer: Alireza Eskandarpour Shoferi
 * Designer: Wouter de Bres (dribbble.com/wdeb)
 *
 * Distributed under the terms of the MIT license
 * http://opensource.org/licenses/MIT
 */
/*.pricingwrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -190px 0 0 -468px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #9f9f9f;
  font-size: 15px;
}*/
.package {
  box-sizing: border-box;
  width: 301px;
  height: 380px;
  border: 3px solid white;
  border-radius: 7px;
  display: inline-block;
  padding: 24px;
  text-align: center;
  float: center;
  -webkit-transition: margin-top 0.5s linear;
  transition: margin-top 0.5s linear;
  position: relative;
  margin-bottom: 15px;
  /*margin-right: 11px;*/

  ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 29px;
  }
  li {
    margin-bottom: 15px;
  }
  .checkIcon {
    font-family: "FontAwesome";
    content: "\f00c";
  }
  li::before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 1.3rem;
    color: $secondary;
    margin-right: 3px;
  }
}
.package:hover {
  margin-top: -5px;
  -webkit-transition: margin-top 0.3s ease;
  transition: margin-top 0.3s ease;
}
.name {
  color: white;
  font-weight: 300;
  font-size: 3rem;
  margin-top: -5px;
}
.price {
  margin-top: 7px;
  font-weight: bold;
}
.price::after {
  /*content: " / month per user";*/
  font-weight: normal;
}
hr {
  background-color: #dedede;
  border: none;
  height: 1px;
}
.trial {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2px 21px 2px 21px;
  color: white;
  /*border: 1px solid #e4e4e4;*/
  display: inline-block;
  border-radius: 15px;
  background-color: $secondary;
  position: relative;
  bottom: -10px;
}

.brilliant {
  border-color: $secondary;
}
/* Triangle */
.brilliant::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 64px 64px 0 0;
  border-color: $secondary transparent transparent transparent;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
.brilliant::after {
  font-family: "FontAwesome";
  content: "\f00c";
  color: white;
  position: absolute;
  left: 9px;
  top: 6px;
  text-shadow: 0 0 2px $secondary;
  font-size: 1.4rem;
}
